* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	padding: 1.5em;
	background: #f5f5f5;
	margin: 0 auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox  */
input[type='number'] {
	-moz-appearance: textfield;
}
table {
	border: 1px #a39485 solid;
	font-size: 0.9em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	width: 100%;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
}
caption {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
}
th {
	text-align: center;
}

thead {
	font-weight: bold;
	color: #fff;
	background: #73685d;
}

td,
th {
	padding: 1em 0.5em;
	vertical-align: middle;
}

td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;
}

a {
	color: #73685d;
}
.input_wrap {
	margin-top: 20px;
	text-align: center;
}
.input_txt {
	width: 150px;
	height: 30px;
	outline: none;
	border: none;
	font-size: 16px;
	color: #333;
	border: 1px solid #333;
	border-radius: 3px;
}
.input_tx:focus {
	border: 1px solid salmon;
}
.btn_wrap {
	margin-top: 20px;
	text-align: center;
}
.btn {
	width: 100px;
	height: 30px;
	font-size: 14px;
	background: #fff;
	border: none;
	border: 1px solid #333;
	cursor: pointer;
	transition: 300ms;
}
.modify_btn:hover {
	background: plum;
}
.create_btn:hover {
	background: greenyellow;
}
.delete_btn:hover {
	background: coral;
}
@media all and (max-width: 768px) {
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	th {
		text-align: right;
	}

	table {
		position: relative;
		padding-bottom: 0;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	thead {
		float: left;
		white-space: nowrap;
	}

	tbody {
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		white-space: nowrap;
	}

	tr {
		display: inline-block;
		vertical-align: top;
	}

	th {
		border-bottom: 1px solid #a39485;
	}

	td {
		border-bottom: 1px solid #e5e5e5;
	}
}
