@import url('./reset.css');
body {
  cursor: none;
  background-color: #1e4029;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
}

.cursor_default_inner {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(10, 27, 16, 2.5);
  border: 2px solid #d5a54e;
  border-radius: 50%;
  box-sizing: border-box;
}

.cursor_trace_inner {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: transform 400ms ease;
}

.ripple {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d5a54e;
  animation: ripple 500ms ease-in-out;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(5);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  background: #521714;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.preloader_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: rgb(213, 165, 78);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: rgb(30, 64, 41);
  cursor: pointer;
}

.prloader_btn_hold {
  line-height: 18px;
}
.shown-area {
  display: block;
  opacity: 1;
}
.hidden-area {
  display: none;
  opacity: 0;
}
.show_section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.circle {
  position: absolute;
  display: inline-block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.circle_01 {
  top: -100px;
  left: -130px;
}

.circle_02 {
  bottom: 5vh;
  right: -230px;
}

.cube_img {
  position: absolute;
  opacity: 0.4;
}

.cube_img1 {
  top: 15%;
  left: 15%;
  width: 15%;
}
.cube_img2 {
  top: 55%;
  left: 15%;
  width: 20%;
}
.cube_img3 {
  top: 20%;
  left: 70%;
  width: 13%;
}
.cube_img4 {
  top: 60%;
  left: 70%;
  width: 20%;
}
.header_tit {
  position: absolute;
  text-transform: uppercase;
  font-size: 7.5rem;
  font-weight: 400;
  color: rgb(213, 165, 78);
  top: 30vh;
  width: 100%;
  text-align: center;
}
.header_tit span {
  display: block;
}
.poster_parallax {
  position: relative;
  height: 1500px;
}
.poster_img {
  position: absolute;
  opacity: 0;
}
.poster_img_wrapper {
  position: absolute;
  width: 100%;
}
.poster_img_wrapper01 {
  right: 0;
  height: 100%;
}
.poster_img_wrapper02 {
  top: 10%;
  left: 5%;
  height: 667px;
}
.poster_img_wrapper03 {
  top: 35%;
  right: 0;
  height: 762px;
}
.poster_img01 {
  right: 0;
  width: 1127px;
}
.poster_img02 {
  height: 100%;
}
.poster_img03 {
  right: 0;
  height: 100%;
}
@keyframes appear-right-to-left {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-left-to-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-bottom-to-top {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.poster_img_visble .poster_img01 {
  animation: appear-right-to-left 750ms ease;
  animation-fill-mode: forwards;
}
.poster_img_visble .poster_img02 {
  animation: appear-left-to-right 750ms ease;
  animation-fill-mode: forwards;
}
.poster_img_visble .poster_img03 {
  animation: appear-bottom-to-top 750ms ease;
  animation-fill-mode: forwards;
}
